body, html {
    height: 100%;
    margin: 0;
}

/* General settings*/
* {
    box-sizing: border-box;
}

/* Navbar Customization */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}


/* Logo and Nike text in the center */
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #111 !important; 
}

.navbar .sign-in-btn {
    position: right;
    right: 1rem; 
    padding: 0.375rem 0.75rem;
}

/* Home Section */
.home-section {
    padding: 6rem 0; 
    background-color: white;
}

.home-image {
    width: 100%;
}
.home-image:hover {
    transform: scale(1.1);
}

/* Adjust font sizes and colors */
.home-title {
    font-size: 150px;
    color: #181a1f;
}

/* Button styling */
.home-btn {
    background-color: #111;
    color: whitesmoke;
    padding: 12px 30px;
    font-size: 1.2rem;
    border-radius: 20px;
}

.home-btn:hover {
    background-color: #444;

}

/* Feature Section */
.feature-section {
    font-size: larger;
    background-color: #181a1f;
    color: whitesmoke;
    padding: 5rem 0;
}


.card-title, .card-text {
    color: #fff;
}

.athlete-spotlight {
    font-weight: lighter;
    background-color: #101418;
    color: whitesmoke;
    padding: 5rem 0;
}

/* Slogan Section */
.slogan-section {
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: #181a1f;
    color: #bab5b1;
    text-align: left;
}

.slogan-section img {
    max-width: 300px;
    border-radius: 10px;
    margin-left: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Footer styling */
.footer {
    background-color: white;
    color: black;
}

.footer-logo {
    margin-bottom: 2.5rem;
}

.footer h5 {
    font-size: 14px;
    color: #181a1f;
    margin-bottom: 2rem;
}

.footer a {
    color: #615c57;
}

.footer a:hover {
    color: #1a1816;
}

.card .carousel-inner img {
    height: 500px;
    object-fit: cover;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .slogan-section {
        flex-direction: column;
        text-align: center;
    }

    .slogan-section img {
        max-width: 80%;
        margin-top: 2rem;
    }
}

/* animation for the home title */
.home-title {
    font-size: 150px; 
    animation: fade 3s infinite; 
}

/*  fade animation */
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.card {
    border: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.card-body {
    padding: 15px; 
}
.card-title {
    font-size: 1.25rem;
    font-weight: bold; 
    color: #333; 
    margin-bottom: 0.5rem; 
}
.card-text {
    color: #666; 
    font-size: 1rem; 
    line-height: 1.5; 
}
.card-text strong {
    color: #303236; 
    font-size: 1.2rem; 
}
.btn-primary {
    background-color: black; 
    border-color: whitesmoke;
}

.btn-primary:hover {
    color:black;
    font-weight: bolder;
    background-color: white; 
    border-color: black;
}
